.nav-link:before {
    content: "";
    position: absolute;
    bottom: 30px;
    height: 2px;
    width: 0;
    background: #420885;
    border-radius: 50px;
    transition: width 0.3s ease;
  }
.nav-link:hover{
  text-decoration: none;
}
  .nav-link:hover::before {
    width: 45px;
  }

  .hover-contact::before {
    content: "";
    position: absolute;
    bottom: 30px;
    height: 2px;
    width: 0;
    background: #420885;
    border-radius: 50px;
    transition: width 0.3s ease;
  }
  .hover-contact:hover::before {
    width: 57px;
  }
  .logo:hover {
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }

  span {
    color: #9267c4;
  }
  .zoom-in-container {
    position: relative;
    overflow: hidden;
  }

  .zoom-in-content {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  .zoom-in-container:hover .zoom-in-content {
    transform: scale(1.2); /* Adjust the scale factor based on your preference */
    cursor: pointer;
  }
  @media only screen and (max-width: 576px) {
    .home-main-seller {
      height: 200px;
    }

    .home-main-seller-txt>p {
      font-size: 10px;
    }
    #carouselExampleIndicators{
      height: 200px;
    }
  }
  @media only screen and (min-width: 577px) {
    #carouselExampleIndicators{
      height: 500px;
    }
    .carousel-item>img{
      height: 500px;
    }
  }
  video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;}
    .btn-cont{
      width: 100px;
    }